<!-- Image and text -->
<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <img src="#" width="30" height="30" class="d-inline-block align-top" alt="">
    Catalogo Online
  </a>
</nav>


<div class="container">
  <hr/>

  <app-formulario
  (personaCreada)="onPersonaAgregada($event)"
  ></app-formulario>

  <hr/>

  <app-persona
  *ngFor="let personaElemento of personas; let i = index"
  [persona]="personaElemento"
  [indice]="i"
  ></app-persona>

  <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
       <div *ngFor='let item of items | async'>
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" [src]="item.image" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text">{{item.description}}</p>
                <a href="#" class="btn btn-primary">Ver producto</a>
              </div>
            </div>
            <hr/>
        </div>
    </div>
    <div class="col-sm"></div>
  </div>

</div>
