<!-- Image and text -->
<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <img src="/docs/4.4/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Catalogo Online
  </a>
</nav>


<div class="container">
  <hr/>

  <app-formulario
  (personaCreada)="onPersonaAgregada($event)"
  ></app-formulario>

  <hr/>

  <app-persona
  *ngFor="let personaElemento of personas; let i = index"
  [persona]="personaElemento"
  [indice]="i"
  ></app-persona>

  <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
      <app-producto> </app-producto>
    </div>
    <div class="col-sm"></div>
  </div>

</div>
